:root { 
  --big-dip-o-ruby: #ac1c41;
  --black: #000000;
  --brick-red: #d24756;
  --cerise-red: #e53261;
  --flame-pea: #e26437;
  --hibiscus: #b83374;
  --plum: #993783;
  --rouge: #9d3681;
  --rusty-red: #d33847;
  --thunderbird: #de2b1a;
  --white: #ffffff;
 
  --font-size-l: 40px;
  --font-size-m: 36px;
  --font-size-s: 30px;
  --font-size-xl: 80px;
  --font-size-xs: 19px;
  --font-size-xxl: 87px;
  --font-size-xxxl: 120px;
 
  --font-family-acme: "Acme", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-jaapokki-regular: "Jaapokki-Regular", Helvetica;
  --font-family-jumble: "Jumble", Helvetica;
  --font-family-jumble-regular: "Jumble-Regular", Helvetica;
}
.acme-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-acme);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-white-55px {
  color: var(--white);
  font-family: Jumble;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-regular-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-regular-normal-thunderbird-36px {
  color: var(--thunderbird);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-white-30px {
  color: var(--white);
  font-family: Jumble;
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-brick-red-40px {
  color: var(--brick-red);
  font-family: Jumble;
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.acme-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-acme);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.acme-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-acme);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-thunderbird-80px {
  color: var(--thunderbird);
  font-family: Jumble;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-cerise-red-120px {
  color: var(--cerise-red);
  font-family: Jumble;
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.jumble-regular-normal-white-120px {
  color: var(--white);
  font-family: Jumble;
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.jaapokki-regular-normal-white-23px {
  color: var(--white);
  font-family: var(--font-family-jaapokki-regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
